@using SMM.Social.Services
@{
    Layout = null;
}

<div class="navbar header navbar-fixed-top">
    <div class="container">
        @Html.Partial("~/Views/Shared/_Partial/_HeadProjects.cshtml")
        <div class="pull-right">
            <ul class="nav header-menu">
                <li class="nav-item">

                    <div class="dropdown">
                        <a id="drop001" role="button" data-toggle="dropdown" href="#">  <i class="icon icon-plus"></i></a>

                        <ul class="dropdown-menu info-menu" role="menu" aria-labelledby="drop001">
                            <i class="icon icon-close close">

                            </i>
                            <li>
                                <div class="title col-md-12">
                                    <a tabindex="-1" href="http://veliovgroup.com">Создание</a>
                                </div>
                            </li>
                            <li>
                                <a tabindex="-1" href="http://veliovgroup.com" target="_blank">
                                    <div class="title col-md-12">
                                        Создание проекта
                                    </div>
                                    <div class="description col-md-10">
                                        Проект представляет собой
                                        совокупность карточек,
                                        упорядоченных в списках.
                                    </div>
                                </a>
                            </li>
                            <li class="divider">
                                <div class="title col-md-12">
                                    Создание команды
                                </div>
                                <div class="description col-md-12">
                                    Команда представляет собой группу
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <i class="icon icon-info"></i>

                </li>
                <li class="nav-item">
                    <i class="icon icon-notife"></i>
                </li>
                @if (!User.IsAuthorized)
                {
                    <li class="text"><a href="@VKService.GetUrl()">ВходВК</a></li>
                    <li class="text"><a href="@OKService.GetUrl()">Вход</a></li>
                }
                else
                {

                    <li class="nav-item"><div class="image-circle"><img src="@User.ImageUrl" /></div></li>
                    <li class="text user nav-item">

                        <div class="dropdown">
                            <a id="drop001" role="button" data-toggle="dropdown" href="#" class="user-a">  @User.FirstName</a>

                            <ul class="dropdown-menu user-menu" role="menu" aria-labelledby="drop001">
                                <li class="item-menu">
                                    <a tabindex="-1" href="http://veliovgroup.com" target="_blank">
                                        Команда
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </li>
                }

            </ul>
        </div>
    </div>
</div>

