<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/css/plugins/emoji")
    <link href="~/asserts/css/main.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>
<body>
    @Html.Partial("_Header")

    @RenderBody()



    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/popper.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/knockout-3.4.2.js"></script>

    @Scripts.Render("~/bundles/js/Main")
    @Scripts.Render("~/bundles/js/plugins/emoji")

    @Scripts.Render("~/bundles/js/knockoutExtensions")

    <script>
        var layoutParams = {};
        layoutParams.UrlGetProjects = '@Url.Action("GetProjectsUser","Project")';
        var LayoutViewModel = new Layout.LayoutViewModel(layoutParams);
    </script>

    @RenderSection("scripts", required: false)


    <script>     
        ko.applyBindings();
    </script>
</body>
</html>
