@model SMM.Web.Models.ViewModels.SettingProjectModel
@using Newtonsoft.Json
@section styles {
    <link href="~/asserts/js/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/asserts/js/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="~/asserts/js/Social/Model.js"></script>
    <script src="~/asserts/js/Social/ViewModel.js"></script>
    <script src="~/asserts/js/knockout-Extansion/knockout-socialName.js"></script>
    <script src="~/asserts/js/Forms/Project/ProjectModel.js"></script>
    <script src="~/asserts/js/Forms/Project/ProjectViewModel.js"></script>
    <script>
        var params = {};
        params.Socials = @Html.Raw(JsonConvert.SerializeObject(Model.Social));
        var Social = new Social.ViewModel(params);
        var viewParams = {};
        viewParams.UrlSave = '@Url.Action("EditProject","Project")';
        viewParams.Project = @Html.Raw(JsonConvert.SerializeObject(Model.Project));
        var ViewModel = new Project.ProjectViewModel(viewParams);
    </script>
}

<div class="container body-content">
    @Html.Partial("_Partial/_HeadMenu", Model.Project.Name)
    <div class="col-md-9" data-bind="with:ViewModel.Project">
        <div class="upload-image-box">
            <div class="list-media long">
                <div class="item ">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                        <div align="center">
                            <span class="btn-file ">
                                <span class="fileinput-new">
                                    <img src="~/asserts/img/icons/white-camera.png" />
                                    Лого/фото клиента
                                </span><span class="fileinput-exists">Change</span><input type="file" data-bind="event: {change: ViewModel.fileUpload.bind(ViewModel)}" name="...">
                            </span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="title-text">Подключить соц сеть </div>
            @Html.Partial("_Partial/_Social")

            <button class="blue-btn-active" data-bind="click:ViewModel.Edit.bind(ViewModel)">
                Сохранить
            </button>
        </div>
    </div>
</div>

