@model SMM.IServices.Models.Post.PostModel
@using SMM.IServices.Enums;
@using Newtonsoft.Json

@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="~/asserts/js/knockoutExtensions/knockout-enterKey.js"></script>
    <script src="~/asserts/js/User/UserModel.js"></script>
    <script src="~/asserts/js/Post/CommentModel.js"></script>
    <script src="~/asserts/js/Social/Model.js"></script>
    <script src="~/asserts/js/Social/ViewModel.js"></script>
    <script src="~/asserts/js/Post/PostModel.js"></script>
    <script src="~/asserts/js/Post/Index/PostViewModel.js"></script>
    <script>
        var Social = new Social.ViewModel();
        var params = {};
        params.UrlVerification = '@Url.Action("VerificationPost", "Post")';
        params.UrlSendComment = '@Url.Action("SendComment","Post")';
        params.Post = @Html.Raw(JsonConvert.SerializeObject(Model));
        var ViewModel = new Post.PostViewModel(params);
    </script>

}

<div class="container body-content">
    <div class="container head-container body-content">
        <h1 class="title-head">
            Belșug outlet
        </h1>
    </div>
    <div class="head-menu-container">
        <button class="blue-btn">
            Одобрить все посты
        </button>
    </div>
    <div class="col-md-9">
        <div class="post">
            <div class="box-post">
                <div class="img-post">
                    @foreach (var url in Model.ImagesUrl)
                    {
                        <img src="@url" />
                    }
                </div>
                <div class="text-post">
                    @Model.Content
                </div>
            </div>
            <div class="info-post">
                <div class="date">
                    Дата публикации: <span>@Model.DatePublic</span>
                </div>
                @Html.Partial("_Partial/_Social")
                <div class="status-post">
                    <div>
                        Статус проверки:
                    </div>
                    @if (Model.Status == EnumStatusPost.OnVerification)
                    {
                        <div>
                            <span class="status">
                                Ждет подтверждения
                            </span>
                        </div>
                        <div>
                            <button class="blue-btn" data-bind="click:ViewModel.Verification.bind(ViewModel)">
                                Подтвердить
                            </button>
                        </div>
                    }
                    else if (Model.Status == EnumStatusPost.Published)
                    {
                        <div class="accept">
                            <img src="~/asserts/img/icons/red-acept.png" />
                            Подтвержден клиентом <span>14.01.18</span>
                        </div>
                    }
                </div>
            </div>
            <div class="comments-box" data-bind="with:ViewModel">
                <div class="send-box">
                    <div class="col-md-2">
                        <div class="image-circle"><img src="@User.ImageUrl" /></div>
                    </div>
                    <div class="col-md-10 send">
                        <div>
                            <div class="send-input">
                                <input type="text" placeholder="Написать комментарий" id="add" data-bind="textInput:Comment,enterkey: SendComment" />    <span class="icon icon-smile"></span>
                                <span class="icon icon-camera"></span>
                            </div>

                        </div>
                        <div>
                            Нажмите “Enter”, чтобы прокомментировать
                            <div class="radios">
                                <div class="item">
                                    <label class="container-radio">
                                        для команды
                                        <input type="radio" name="type" value="@EnumStatusComment.Team" data-bind="checked:StatusComment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label class="container-radio">
                                        для всех
                                        <input type="radio" name="type" value="@EnumStatusComment.All" data-bind="checked:StatusComment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments-container " data-bind="foreach:Post.Comments">
                    <div class="row">
                        <div class="col-md-3 info-user">
                            <div class="image-circle"><img data-bind="attr:{src:User().ImageUrl}" /></div>
                            <div class="name" data-bind="text:User().FirstName">
                                Serghei
                            </div>
                        </div>
                        <div class="message col-md-9" data-bind="text:Content">
                            Благодарю всех кто отреагировал на пост.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>