@{
    ViewBag.Title = "Home Page";
}
@model SMM.Web.Models.ViewModels.VerificationModel
@using SMM.IServices.Enums;
@using Newtonsoft.Json

@section Scripts {
<script src="~/asserts/js/plugins/common/clipboard.js"></script>
    <script src="~/asserts/js/Social/Model.js"></script>
    <script src="~/asserts/js/Social/ViewModel.js"></script>
    <script src="~/asserts/js/User/UserModel.js"></script>
    <script src="~/asserts/js/Post/CommentModel.js"></script>
    <script src="~/asserts/js/Post/PostModel.js"></script>
    <script src="~/asserts/js/Post/Verification/VerificationViewModel.js"></script>
    <script>
        var Social = new Social.ViewModel();
         var params = {};
        params.Post = @Html.Raw(JsonConvert.SerializeObject(Model.Post));
          params.UrlVerification = '@Url.Action("VerificationPost", "Post")';
        params.UrlChangeContent = '@Url.Action("ChangeContentPost","Post")';
        params.UrlDeletePost = '@Url.Action("DeletePost","Post")';
        params.ProjectId = @Model.Project.Id;
        var ViewModel = new Post.VerificationViewModel(params);

    </script>
}

<div class="container body-content">
    @Html.Partial("_Partial/_HeadMenu", Model.Project)
</div>
<section class="grey-hr"></section>
<div class="container body-content" data-bind="with:ViewModel">
    <div class="col-md-9">
        <div class="post" data-bind="with:Post">
            <div class="date-post">
                Создан <span>14.01.18 - 12:00</span>
            </div>
            <div class="box-post">
                <div class="pull-right">
                    <i class="icon-pen"></i>
                    <div class="tooltip-box">
                        Заменить фото
                    </div>
                    <i class="icon-trash" data-bind="click:$parent.DeletePost.bind($parent)"></i>
                    <i class="icon-downlaod"></i>
                </div>
                <div class="img-post" data-bind="foreach:ImagesUrl">
                    <img data-bind="attr:{src:$data}" />
                </div>
                <div class="text-post">
                    <!--ko ifnot:$parent.IsEditContent-->
                    <!--ko text:Content-->
                    <!--/ko-->
                    <!--/ko-->
                    <!--ko if:$parent.IsEditContent-->
                    <input data-bind="textInput:$parent.TempContent" />
                    <!--/ko-->
                    <div class="pull-right">
                        <!--ko ifnot:$parent.IsEditContent-->
                        <div class="edit-text" data-bind="click:$parent.IsEditContent.bind($parent,true)">
                            <div class="tooltip-box">
                                Редактировать текст
                            </div>
                            <i class="icon-pen"></i>
                        </div>
                        <!--/ko-->
                        <!--ko if:$parent.IsEditContent-->
                        <div class="edit-text" >
                            <div class="tooltip-box" data-bind="click:$parent.EditContent.bind($parent)">
                             Сохранить
                            </div>
                            <div class="tooltip-box"  data-bind="click:$parent.CancelEdit.bind($parent)">
                                Отмена
                            </div>
                        </div>
                        <!--/ko-->

                        <i class="icon-file" data-bind="click:$parent.Clipboard.bind($parent)"></i>
                        <div class="tooltip-box file" data-bind="click:$parent.Clipboard.bind($parent)">
                            Копировать текст
                        </div>
                    </div>
                </div>

            </div>
            <div class="info-post">
                <div class="date">
                    Дата публикации: <span date-bind="text:DatePublic"></span>
                </div>
                @Html.Partial("_Partial/_Social")
                <div class="status-post">
                    <div>
                        Статус проверки:
                    </div>
                    @if (Model.Post.Status == EnumStatusPost.OnVerification)
                    {
                        <div>
                            <span class="status">
                                Ждет подтверждения
                            </span>
                        </div>
                        <div>
                            <button class="blue-btn" data-bind="click:$parent.Verification.bind($parent)">
                                Подтвердить
                            </button>
                        </div>
                    }
                    else if (Model.Post.Status == EnumStatusPost.Published || Model.Post.Status == EnumStatusPost.Confirmed)
                    {
                        <div class="accept">
                            <img src="~/asserts/img/icons/red-acept.png" />
                            Подтвержден клиентом <span>14.01.18</span>
                        </div>
                    }
                </div>
            </div>
            <div class="comments-box">
                <div class="send-box">
                    <div class="col-md-2">
                        <div class="image-circle"></div>
                    </div>
                    <div class="col-md-10 send">
                        <div>
                            <div class="send-input">
                                <input type="text" placeholder="Написать комментарий" id="add" />    <span class="icon icon-smile"></span>
                                <span class="icon icon-camera"></span>
                            </div>

                        </div>
                        <div>
                            Нажмите “Enter”, чтобы прокомментировать
                            <div class="radios">
                                <div class="item">
                                    <label class="container-radio">
                                        для команды
                                        <input type="radio" name="type">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label class="container-radio">
                                        для всех
                                        <input type="radio" name="type">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments-container " data-bind="foreach:Comments">
                    <div class="row">
                        <div class="col-md-3 info-user">
                            <div class="image-circle"><img data-bind="attr:{src:User().ImageUrl}" /></div>
                            <div class="name" data-bind="text:User().FirstName">
                                Serghei
                            </div>
                        </div>
                        <div class="message col-md-9" data-bind="text:Content">
                            Благодарю всех кто отреагировал на пост.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


